html
    head 
        title Home Page 
        link(rel='stylesheet', href='/stylesheets/artistPage.css')
        script(src='/javascripts/likesClient.js')
    body 
        div#header 
            div(class="icons")
                a(href= "/user/home") Home
                br
                br
                a(href="/user/notifications")
                    img(src="/images/bell.png", id="bell")
                if user.isArtist
                    br
                    img(src="/images/brush.png", id="brush")
            a(href="/user/following") Following 
            |
            |
            |
            |
            a(href="/user/liked") Liked
            |
            |
            |
            |
            if user.reviews.length>0
                a(href="/user/reviews") Your Reviews
            |
            |
            |
            if user.registered.length > 0
                a(href="/user/enrolled") Enrolled 
            |
            |
            |
            br
            |
            |
            |
            |
            div(class="header-buttons")
                form(action="/user/logout", method="GET")
                    input(id ='logout' value='Logout', type='submit')
                form(action="/user/patron", method="PUT")
                    input(id ='patron' value='Reset Patron', type='submit')


            
        div#main 
            h1 Learn more about #{piece.name}!
            div(class="individual")
                if !user.titles.includes(piece.artist)
                    a(href= "/user/artists/" + piece.artist, id="author-link") Author:  #{piece.artist}
                    br
                else 
                    a(href= "/user/artists/" + piece.artist, id ="author-link") You
                    |
                    |
                    |
                    br
                p Name of Work: #{piece.name}
                p Year: #{piece.year}
                p Category: #{piece.category}
                p Medium: #{piece.medium}
                p Description: #{piece.description}                
                img(src= piece.image)
                p Likes: #{piece.likes}
                if !user.titles.includes(piece.artist)
                    input(class="like", id =piece.name, value='Like', type='button', onclick="like()")
                else 
                    p Published by you!
                br
                br
                if !user.titles.includes(piece.artist)
                    a(href="/user/review/"+piece.name, id="review-link") Leave a Review
                br
                a(href="/user/seeReviews/"+piece.name, id="view-reviews") See Reviews
